body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555555; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 850px; /* Maksymalna szerokość kontenera */
    margin: 0 auto; /* Wyśrodkowanie kontenera */
    background-color: #555555; 
    box-shadow: 0 0 20px rgba(0,0,0,0.1); 
}

#coordinates-form {
    background-color: #686868;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

#coordinates-form input[type="text"], #coordinates-form button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #a29b9b;
    color: #ffffff;
    font-size: 16px;
    width: calc(50% - 12px);
}

#coordinates-form button {
    cursor: pointer;
    background-color: #8a8787;
    width: auto;
}

#coordinates-form button:hover {
    background-color: #555555;
}

#weather-table {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #00000086;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

#weather-table th, #weather-table td {
    border: 1px solid #ffffff;
    padding: 10px;
    background-color: #686868;
    color: #ffffff;
}

#weather-table th {
    background-color: #a29b9b;
}

#weather-table th:hover, #weather-table td:hover {
    background-color: #555555;
}
