{% extends "base.html" %}
{% block content %}
<div class="container_about_subpage">
    <h1>About Football Match Predictor</h1>
    <p>Welcome to the Football Match Predictor app, EURO 2024 Edition. This application is designed to provide football enthusiasts with up-to-date information about the EURO 2024 tournament, including team standings, match predictions, and more. Below is an overview of the different sections of our app:</p>

    <h2>Predictor</h2>
    <p>Our Predictor tool allows you to predict the outcome of matches between two teams. Simply select the teams you want to compare, and our predictor will generate a likely outcome based on various data points.</p>

    <h2>Groups</h2>
    <p>The Groups section displays the current standings of teams within their respective groups. Here, you can find detailed information on each team's performance, including their points and rankings within their group.</p>

    <h2>Match Bracket</h2>
    <p>The Match Bracket section provides a visual representation of the tournament progression. Follow the journey of your favorite teams as they advance through the stages of the EURO 2024 competition.</p>

    <h2>Matches</h2>
    <p>In the Matches section, you can find detailed information about upcoming matches.</p>
    
    <h2>Fan Forum</h2>
    <p>This fan forum allows you to share your thoughts, feelings, and reactions with fellow football enthusiasts.</p>

    <p>We hope you enjoy using our Football Match Predictor app. If you have any questions or feedback, feel free to contact us!</p>
</div>
<footer class="footer">
    <div class="footer-content">
        <p>
        Developed by:
            <p>Jakub "Krzysiek" Krzyszczuk, Paweł Klocek, Piotr Ziobrowski, Szymon Gaweł, Bartosz Duch</p>
        </p>
    </div>
</footer>
{% endblock %}