{% extends "base.html" %}
{% block content %}
<h1 id="bracket_title">EURO 2024 Tournament Bracket</h1>

<div id="tournament" class="bracket">
    <div id="round-of-16" class="round">
        <h2 class="round-title">Round of 16</h2>
    </div>
    <div id="quarter-finals" class="round">
        <h2 class="round-title">Quarter Finals</h2>

    </div>
    <div id="semi-finals" class="round">
        <h2 class="round-title">Semi Finals</h2>
    </div>
    <div id="final" class="round">
        <h2 class="round-title">Final</h2>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='bracket.js') }}"></script>
{% endblock %}
