{% extends "base.html" %}
{% block content %}
<h1>EURO 2024 Tournament Bracket</h1>

    <div id="tournament" class="bracket">
        <div id="round-of-16" class="round">
            <h2></h2>
        </div>
        <div id="quarter-finals" class="round">
            <h2></h2>
        </div>
        <div id="semi-finals" class="round">
            <h2></h2>
        </div>
        <div id="final" class="round">
            <h2></h2>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='bracket.js') }}"></script>
{% endblock %}
